.backgroundStyle{
    background: #3a3939;
    padding-bottom: 25px;
}
.logo{
    height: 40px;
    border-radius: 50%;
}
.inputBox{
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
}
.kfcChicken{
    height: 250px;
}
@media screen and (max-width: 570px) {
    .kfcChicken{
        height: 80px;
    } 
}
.salad{
    height: 250px; 
}
@media screen and (max-width: 570px) {
    .salad{
        height: 80px; 
    }
}
.chilliChicken{
    height: 250px;
}
@media screen and (max-width: 570px){
    .chilliChicken{
        height: 70px;
        margin-left: 240px;
    }
}
.friedChicken{
    width: 200px;
} 
@media screen and (max-width: 570px){
    .friedChicken{
        width: 80px;
        margin-right: 180px;
    }
}