.backgroundStyle{
    background: #3a3939;
    padding-top: 80px;
    height: 625px;
}
.logo{
    height: 40px;
    border-radius: 50%;
}
.inputBox{
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 12px;
}
.kfcChicken{
    position: absolute;
    height: 350px;
    left: -100px;
    top: -20px;
}
.salad{
    position: absolute;
    height: 250px;
    left: 1025px;
    top: -50px; 
}
.chilliChicken{
    position: absolute;
    height: 250px;
    left: -30px;
    top: 382px;
}
.friedChicken{
    position: absolute;
    width: 200px;
    left: 1130px;
    top: 382px;
}
@media screen and (max-width: 768px){
    .kfcChicken{
        position: absolute;
        height: 130px;
        left: -20px;
        top: -20px;
    }
    .salad{
        position: absolute;
        height: 130px;
        left: 188px;
        top: -50px; 
    }
    .chilliChicken{
        position: absolute;
        height: 130px;
        left: -30px;
        top: 500px;
    }
    .friedChicken{
        position: absolute;
        width: 100px;
        height: 150px;
        left: 230px;
        top: 490px;
    }
  }
  @media screen and (max-width: 320px) {
    .kfcChicken{
        position: absolute;
        height: 130px;
        left: -20px;
        top: -20px;
    }
    .salad{
        position: absolute;
        height: 130px;
        left: 150px;
        top: -50px; 
    }
    .chilliChicken{
        position: absolute;
        height: 130px;
        left: -30px;
        top: 500px;
    }
    .friedChicken{
        position: absolute;
        width: 100px;
        height: 150px;
        left: 230px;
        top: 490px;
    }
  }
  @media screen and (max-width: 425px){
    .kfcChicken{
        position: absolute;
        height: 130px;
        left: -20px;
        top: -20px;
    }
    .salad{
        position: absolute;
        height: 130px;
        left: 188px;
        top: -50px; 
    }
    .chilliChicken{
        position: absolute;
        height: 130px;
        left: -30px;
        top: 500px;
    }
    .friedChicken{
        position: absolute;
        width: 100px;
        height: 150px;
        left: 290px;
        top: 490px;
    }
  }