.orderBtn{
    background: #F53838;
    width: 190px;
    height: 55px;
    border-radius: 40px;
}
.bookBtn{
    background: #FFFFFF;
    width: 190px;
    height: 55px;
    border-radius: 40px;
}
.headerStyle{
    background: #181818;
    padding-bottom: 30px;
}
.textStyle{
    font-size: 60px;
}
.fontSize{
    font-size: 30px;
}
.headerFood{
    background: #FE043C;
    width: 720px;
    height: 615px;
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
    /* border-radius: 374px; */
    /* transform: rotate(-90deg); */
}
.headerImg{
    position: absolute;
    width: 800px;
    /* height: 793.88px;
    left: 1064.38px;
    top: -90px;  */
}