.footerBg{
    background: #434343;
    padding-bottom: 10px;
    color: white;
}
.formField{
    height: 60px;
    border-radius: 40px;
    background: #434343;
    text-decoration-color: white;
    padding-right: 70px;
}
.rightArrow{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-left: -70px;
}
.socialLogo{
    height: 40px;
}