.visaCardImg{
    height: 35px;
}
.mobileBankingImg{
    height: 40px;
}
.paymentCard{
    height: 100px;
    background: whitesmoke;
    border-radius: 13px;
    text-align: center;
}
.addNewCard{
    height: 45px;
    color: rgb(129, 127, 127);
}
.paymentInfo{
    border: 2px solid whitesmoke;
    border-radius: 10px;
}